<div class="cards-container">
  <ng-container *transloco="let t">
    <mat-card appearance="raised" class="content-card">
      <mat-card-header>
        <mat-card-title>{{t('dashboard.transactions')}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <cdk-virtual-scroll-viewport class="viewport-container" [itemSize]="48" [maxBufferPx]="1200"
                                     [minBufferPx]="400">
          <table #transactionsTable cdk-table [dataSource]="transactions()" [trackBy]="transactionTrackBy" recycleRows>
            <ng-container cdkColumnDef="time">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.timeStamp')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.time }}</td>
            </ng-container>

            <ng-container cdkColumnDef="product">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.product')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.formattedProduct }}</td>
            </ng-container>

            <ng-container cdkColumnDef="planet">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.planet')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.planet }}</td>
            </ng-container>

            <ng-container cdkColumnDef="transactionType">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.transactionType')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.formattedTransactionType }}</td>
            </ng-container>

            <ng-container cdkColumnDef="pricePerUnit">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.price')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.formattedPricePerUnit }}</td>
            </ng-container>

            <ng-container cdkColumnDef="volume">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.volume')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.formattedVolume }}</td>
            </ng-container>

            <ng-container cdkColumnDef="sum">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.total')}}</th>
              <td cdk-cell *cdkCellDef="let element"> {{ element.sum }}</td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="transactionDisplayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: transactionDisplayedColumns;"></tr>
          </table>
        </cdk-virtual-scroll-viewport>

      </mat-card-content>
    </mat-card>

    <mat-card appearance="raised" class="content-card">
      <mat-card-header>
        <mat-card-title>{{t('dashboard.leaderboard')}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <cdk-virtual-scroll-viewport class="viewport-container" [itemSize]="48" [maxBufferPx]="1200"
                                     [minBufferPx]="400">
          <table cdk-table [dataSource]="formattedLeaderboardValues()" [trackBy]="leaderboardTrackBy" recycleRows>
            <ng-container cdkColumnDef="planet">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.planet')}}</th>
              <td cdk-cell *cdkCellDef="let element">{{ element.planet }}</td>
            </ng-container>
            <ng-container cdkColumnDef="sum">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.transactionValue')}}</th>
              <td cdk-cell *cdkCellDef="let element">{{ element.sum }}</td>
            </ng-container>
            <ng-container cdkColumnDef="transaction">
              <th cdk-header-cell *cdkHeaderCellDef>{{t('dashboard.table.numberOfTransaction')}}</th>
              <td cdk-cell *cdkCellDef="let element">{{ element.formattedNumberOfTransactions }}</td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="leaderboardDisplayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: leaderboardDisplayedColumns;"
                (dblclick)="onLeaderboardRowDoubleClick(row.planetId)"
                class="leaderboard-row"></tr>
          </table>
        </cdk-virtual-scroll-viewport>

      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
