@use "breakpoints";

:host {
  flex: 1;
  display: flex;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  flex: 1;

  @include breakpoints.mobile {
    gap: 1rem;
  }
}

.content-card {
  flex: 1;
  display: flex;
  flex-direction: column;

  mat-card-content {
    flex: 1;
  }
}

.viewport-container {
  height: 100%;
}

.viewport-container table {
  width: 100%;
}

.viewport-container td,
.viewport-container th {
  height: 2rem;
  text-align: left;
}
