@use "breakpoints";

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-title {
  @include breakpoints.mobile {
    display: none;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-spacer {
  margin-inline-start: 1.5rem;

  @include breakpoints.mobile {
    margin-inline-start: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  flex: 1;
  display: flex;
  padding: 1.5rem;

  @include breakpoints.mobile {
    padding: 1rem;
  }
}

.app-footer {
  margin-top: auto;

  mat-toolbar {
    justify-content: center;
    font-size: 0.875rem;

    @include breakpoints.mobile {
      font-size: 0.75rem;
    }
  }
}
